{
  "extends": ["standard"],
  "env": {
    "jest": true,
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import",
  ],
  "rules": {
    "import/no-unresolved": ["error"],
    "comma-dangle": ["error", "only-multiline"],
    "object-curly-spacing": ["error", "never"],
    "yoda": ["off"],
  },
  "settings": {
    "import/resolver": {
      "node": {
        // oh ffs, kill me now, see: https://github.com/benmosher/eslint-plugin-import/issues/142#issuecomment-340854319
        "moduleDirectory": [
          "node_modules",
          "src/core",
          // This is due to prototype work on testing-grounds.
          "src/testing-grounds",
        ],
      }
    },
  }
}
